body {
    background-color: #1E1E1E;
}

section {
display: flex;
justify-content: left;
}

.container {
    background: #0F0F13;
    margin: 64px;
    border-radius: 20px;
    padding: 186px;
}

h1 {
    color: #E9E9E9;
}